
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}
@{
    var antiforgery = Html.AntiForgeryToken();
}
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container ">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                         @* kiem tra xem img details có null ko *@
                            @if (!string.IsNullOrEmpty(Model.Details.ImageProduct))
                            {
                                //neu img là http thì get img
                                if (Model.Details.ImageProduct.StartsWith("http"))
                                {
                        <img class="product__details__pic__item--large"
                             src="@Model.Details.ImageProduct" alt="">
                            }
                            else
                            {
                                //nếu img là từ wwwroot ra thì get img từ /imgs/imgProducts ra
                                <img src="~/imgs/imgProducts/@Model.Details.ImageProduct" alt="Product Image">

                            }
                        }
                    </div>
               
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            @if (!string.IsNullOrEmpty(Model.Details.ImageProduct))
                            {
                                if (Model.Details.ImageProduct.StartsWith("http"))
                                {
                                    <img src="@Model.Details.ImageProduct" alt="Product Image">

                                }
                                else
                                {
                                    <img src="~/imgs/imgProducts/@Model.Details.ImageProduct" alt="Product Image">

                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            @antiforgery
            <div class="col-lg-5 col-md-6">
                <div class="product__details__text">
                    <h3 id="productName">@Model.Details.NameProduct</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>( 138 reviews )</span>
                    </div>
                    <div class="product__details__price" id="productPrice" data-price="@Model.Details.PriceProduct">
                        @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} ₫", @Model.Details.PriceProduct)
                       
                        <h6><del>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} ₫", @Model.Details.Discount)</del></h6>
                    </div>
                    <div class="product__details__button">
                        <div class="quantity pb-5">
                            <span>Quantity:</span>
                            <div class="pro-qty">
                                <input id="quantity" type="number" min="1" value="1">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="__RequestVerificationToken" value="...">

                    <a href="#" class="btn btn-danger mr-4"><span class="icon_bag_alt"></span> Mua ngay</a>
                    <a id="addToCart" data-product-id="@Model.Details.Id" class="btn bg-white text-danger border border-danger">
                        <span class="icon_cart_alt text-danger"></span> Thêm vào giỏ hàng
                    </a>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Thông số kỹ thuật</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Giới thiệu sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Reviews ( 2 )</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6 p-5">
                                    <img src="~/imgs/imgProducts/@Model.Details.ImageSpecifications" alt="Alternate Text" class="w-100"/>
                                </div>
                                <div class="col-lg-6 p-5">
                                    <div class="px-5">
                                        <h5 class="font-weight-bold">Thông số kỹ thuật</h5>
                                        <table class="table table-borderless mt-3">
                                            <tbody>
                                                <tr>
                                                    <td class="font-weight-normal py-2 border-0">Model:</td>
                                                    <td class="ml-3 border-0 ">@Model.Details.Model</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-normal py-2 border-0">Nhà sản xuất:</td>
                                                    <td class="ml-3 border-0 ">@Model.Details.Producer</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-normal py-2 border-0">Xuất xứ:</td>
                                                    <td class="ml-3 border-0 ">@Model.Details.Origin</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>


                        </div>

                       
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                           <div class="row">
                                <div class="col-lg-12 p-5">
                                    @Html.Raw(Model.Details.Description)
                                </div>
                           </div>
                        </div>

                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <h6>Reviews ( 2 )</h6>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title related__product__title">
                    <h3>SẢN PHẨM LIÊN QUAN</h3>
                </div>
            </div>
            <div class="owl-carousel other-carousel owl-theme pt-1">
                @foreach (var listProduct in Model.RelatedProducts)
                {
                    <div class="card item-card-flashsale ">
                        <div class="card-img-top-container">
                            @*   2 trường hợp lấy image ra view  *@
                            @if (!string.IsNullOrEmpty(listProduct.ImageProduct))
                            {
                                //nếu img có đường dẫn là http thì lấy trưc tiếp từ model để hiện ra image http (insert trực tiếp từ sql)
                                if (listProduct.ImageProduct.StartsWith("http"))
                                {
                                    <img class="card-img-top img-fluid px-1 py-2" alt="Product Image" src="@listProduct.ImageProduct" />
                                }
                                else
                                {
                                    //nếu ko phải từ http thì lấy ra từ wwwroot như bình thường
                                    <img class="card-img-top img-fluid px-1 py-2" alt="Product Image" src="~/imgs/imgProducts/@listProduct.ImageProduct" />

                                }
                            }
                        </div>
                        <div class="card-body">
                            <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@listProduct.Id" class="text-decoration-none">
                                <p class="card-title py-0"> @listProduct.NameProduct</p>
                            </a>
                            <h6 class="card-text text-price py-0">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} ₫", @listProduct.PriceProduct) </h6>
                            <p><del>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} ₫", @listProduct.Discount)</del> @* <span class="badge badge-danger">-14%</span> *@</p>
                            <div>
                                <p class="my-0">Model:&nbsp;@listProduct.Model</p>
                                <p class="my-1">Xuất xứ:&nbsp; @listProduct.Origin</p>
                                <p class="my-1">Nhà sản xuất:&nbsp; @listProduct.Producer</p>

                            </div>


                        </div>
                    </div>
                }
            </div>
           
            



        </div>
    </div>
</section>
<!-- Product Details Section End -->
<script>
    document.getElementById('addToCart').addEventListener('click', function () {
        var productId = this.getAttribute('data-product-id');
        var productName = document.getElementById('productName').innerText.trim(); // Sử dụng trim() để loại bỏ khoảng trắng thừa
        var productPrice = document.getElementById('productPrice').getAttribute('data-price');
        var quantity = document.getElementById('quantity').value.trim();

        // Kiểm tra các giá trị đã lấy được từ DOM
        // console.log('productId:', productId);
        // console.log('productName:', productName);
        // console.log('productPrice:', productPrice);
        // console.log('quantity:', quantity);

        // Gửi AJAX request đến hàm AddToCart trong CartController
        $.ajax({
            url: '/Cart/AddToCart',
            type: 'POST',
            headers: {
                'X-CSRF-TOKEN': $('input[name="__RequestVerificationToken"]').val() // Lấy token từ form
            },
            data: {
                productId: productId,
                productName: productName,
                productPrice: productPrice,
                quantity: quantity
            },
            success: function (response) {
                if (response.success) {
                    updateCartItemCount();  // Update số lượng sản phẩm duy nhất trên icon
                    alert(response.message);
                }
            },
            error: function () {
                alert('Lỗi !!!!');
            }
        });
    });

    function updateCartItemCount() {
        // Gửi Ajax request lấy số lượng sản phẩm duy nhất từ server
        $.ajax({
            url: '/Cart/GetCartItemCount',  // trong cartController có hàm GetCartItemCount
            type: 'GET',
            success: function (response) {
                var cartItemCountElement = document.getElementById('cartItemCount');
                if (cartItemCountElement) {
                    cartItemCountElement.innerText = response.itemCount;
                } else {
                    console.error('Element with id "cartItemCount" not found.');
                }
            },
            error: function () {
                console.error('Error updating cart item count.');
            }
        });
    }
    function updateTotalAmount(totalAmount) {
        document.querySelector('div h4').innerText = 'Total Amount: ' + formatCurrency(totalAmount);
    }
</script>





