
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<section class="shop spad">
    <div class="container container-product"  >
        <div class="filter__item">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="filter__sort">
                        <span>Sắp xếp </span>
                        <select>
                            <option value="0">Default</option>
                            <option value="0">Default</option>
                        </select>
                    </div>
                </div>
           
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-9">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-2 col-6 px-1 py-2 ">
                        <div class="card item-card-flashsale">
                            <div class="card-img-top-container">
                                     @*   2 trường hợp lấy image ra view  *@
                                    @if (!string.IsNullOrEmpty(product.ImageProduct))
                                    {
                                        //nếu img có đường dẫn là http thì lấy trưc tiếp từ model để hiện ra image http (insert trực tiếp từ sql)
                                        if (product.ImageProduct.StartsWith("http"))
                                        {
                                            <img class="card-img-top img-fluid px-1 py-2" alt="Product Image" src="@product.ImageProduct" />
                                        }
                                        else
                                        {
                                            //nếu ko phải từ http thì lấy ra từ wwwroot như bình thường
                                            <img class="card-img-top img-fluid px-1 py-2" alt="Product Image" src="~/imgs/imgProducts/@product.ImageProduct" />

                                        }
                                    }
                            </div>
                            <div class="card-body">
                                    <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.Id" class="text-decoration-none">
                                        <p class="card-title">@product.NameProduct</p>
                                </a>
                                    <h6 class="card-text text-price my-0 py-1">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} ₫", @product.PriceProduct) </h6>
                                    <p class="py-0"><del>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} ₫", @product.Discount)</del> @* <span class="badge badge-danger">-14%</span> *@</p>

                                <div>
                                        <p class="my-0">Model:&nbsp;@product.Model</p>
                                        <p class="my-1">Xuất xứ:&nbsp; @product.Origin</p>
                                        <p class="my-1">Nhà sản xuất:&nbsp; @product.Producer</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


